<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/blogs" method="POST"> <!--action = where do we want to send the request to. in our case the url is '/blogs'. the method is the request method name which in our case is post-->
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required> <!--name will alow us to grab the title from the text as an instance of an object-->
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button> <!--when we click on submin it's going to send a post request to the url given in the action-->
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>